<a href="https://colab.research.google.com/github/KiplahD/Masters/blob/main/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
data = pandas.read_csv("https://modcom.co.ke/datasets/bank_full.csv")
data

,age,job,marital,education,default,housing,loan,contact,month,day+AF8-of+AF8-week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,outcome
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261.0,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149.0,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226.0,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151.0,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,NaN,1,999,0,nonexistent,1.1,93.994,+AC0-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334.0,1,999,0,nonexistent,+AC0-1.1,94.767,+AC0-50.8,1.028,4963.6,yes
41184,46,blue+AC0-collar,married,professional.course,no,no,no,cellular,nov,fri,383.0,1,999,0,nonexistent,+AC0-1.1,94.767,+AC0-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189.0,2,999,0,nonexistent,+AC0-1.1,94.767,+AC0-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442.0,1,999,0,nonexistent,+AC0-1.1,94.767,+AC0-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239.0,3,999,1,failure,+AC0-1.1,94.767,+AC0-50.8,1.028,4963.6,no

In [ ]:
data.isnull().sum()
# If empties are more than 5% of data that when you consider

age                    0
job                    5
marital                9
education              0
default                0
housing                0
loan                   4
contact                0
month                  0
day+AF8-of+AF8-week    0
duration               4
campaign               0
pdays                  0
previous               0
poutcome               0
emp.var.rate           0
cons.price.idx         0
cons.conf.idx          0
euribor3m              0
nr.employed            0
outcome                0
dtype: int64

In [ ]:
# Empties/Nulls are less than 5% of my Data, So drop
data.dropna(inplace=True)
data.shape

(41166, 21)

In [ ]:
# Encoding
# Label Enconding
# Job
data.groupby('job').size()

job
admin.               10422
blue+AC0-collar       9248
entrepreneur          1456
housemaid             1059
management            2921
retired               1720
self+AC0-employed     1421
services              3965
student                875
technician            6736
unemployed            1014
unknown                329
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data['job'] = encoder.fit_transform(data['job'])
data['marital'] = encoder.fit_transform(data['marital'])
data['education'] = encoder.fit_transform(data['education'])
data['default'] = encoder.fit_transform(data['default'])
data['housing'] = encoder.fit_transform(data['housing'])
data['loan'] = encoder.fit_transform(data['loan'])
data['contact'] = encoder.fit_transform(data['contact'])
data['month'] = encoder.fit_transform(data['month'])
data['day+AF8-of+AF8-week'] = encoder.fit_transform(data['day+AF8-of+AF8-week'])
data['poutcome'] = encoder.fit_transform(data['poutcome'])
data['cons.conf.idx'] = encoder.fit_transform(data['cons.conf.idx'])
data['emp.var.rate'] = encoder.fit_transform(data['emp.var.rate'])
pandas.set_option('display.max_columns', None)
# data.to_csv("data.csv")
data
# Continue  - Clean Data

,age,job,marital,education,default,housing,loan,contact,month,day+AF8-of+AF8-week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,outcome
0,56,3,1,0,0,0,0,1,6,1,261.0,1,999,0,1,8,93.994,9,4.857,5191.0,no
1,57,7,1,3,1,0,0,1,6,1,149.0,1,999,0,1,8,93.994,9,4.857,5191.0,no
2,37,7,1,3,0,2,0,1,6,1,226.0,1,999,0,1,8,93.994,9,4.857,5191.0,no
3,40,0,1,1,0,0,0,1,6,1,151.0,1,999,0,1,8,93.994,9,4.857,5191.0,no
5,45,7,1,2,1,0,0,1,6,1,198.0,1,999,0,1,8,93.994,9,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,5,1,5,0,2,0,0,7,0,334.0,1,999,0,1,2,94.767,25,1.028,4963.6,yes
41184,46,1,1,5,0,0,0,0,7,0,383.0,1,999,0,1,2,94.767,25,1.028,4963.6,no
41185,56,5,1,6,0,2,0,0,7,0,189.0,2,999,0,1,2,94.767,25,1.028,4963.6,no
41186,44,9,1,5,0,0,0,0,7,0,442.0,1,999,0,1,2,94.767,25,1.028,4963.6,yes
41187,74,5,1,5,0,2,0,0,7,0,239.0,3,999,1,0,2,94.767,25,1.028,4963.6,no

In [ ]:
# Training
# Split
array = data.values
X = array[:, 0:20]
Y = array[:, 20]

In [ ]:
# Training and Testing
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = 0.3, random_state = 42)

In [ ]:
# Cross Validation
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB

models = []
models.append(('KNN', KNeighborsClassifier()))
models.append(('DTC', DecisionTreeClassifier()))
models.append(('GBC', GradientBoostingClassifier()))
models.append(('RFC', RandomForestClassifier()))
models.append(('SVC', SVC()))
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('NB', GaussianNB()))

In [ ]:
for name, model in models:
  kfold= model_selection.KFold(n_splits= 10, random_state= 42, shuffle = True)
  cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv = kfold, scoring = 'accuracy')
  print(name, cv_results.mean())

KNN 0.9031790999009759
DTC 0.8890547223535663
GBC 0.9161925111302581
RFC 0.9136245727770618
SVC 0.8970016772166153

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LR 0.9079331767802691
LDA 0.907516835395991
NB 0.8487994881875824