In [57]:
import pandas
import numpy as np
import warnings
warnings.filterwarnings("ignore")
df = pandas.read_csv('Salary.csv')
df.head()

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,Sasken,Android Developer,400000,3,Bangalore,Full Time,Android
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,Full Time,Android
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore,Full Time,Android
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,Full Time,Android
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore,Full Time,Android

In [58]:
df.isnull().sum()

Rating               0
Company Name         1
Job Title            0
Salary               0
Salaries Reported    0
Location             0
Employment Status    0
Job Roles            0
dtype: int64

In [59]:
df.dropna(inplace= True)

In [60]:
df.isnull().sum()

Rating               0
Company Name         0
Job Title            0
Salary               0
Salaries Reported    0
Location             0
Employment Status    0
Job Roles            0
dtype: int64

In [61]:
dc = df.drop(columns=['Job Title', 'Location', 'Job Roles'], errors='ignore')
dc.head()

,Rating,Company Name,Salary,Salaries Reported,Employment Status
0,3.8,Sasken,400000,3,Full Time
1,4.5,Advanced Millennium Technologies,400000,3,Full Time
2,4.0,Unacademy,1000000,3,Full Time
3,3.8,SnapBizz Cloudtech,300000,3,Full Time
4,4.4,Appoids Tech Solutions,600000,3,Full Time

In [62]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dc['Company Name'] = le.fit_transform(dc['Company Name'])
dc['Employment Status'] = le.fit_transform(dc['Employment Status'])
dc.head()

   Rating  Company Name   Salary  Salaries Reported  Employment Status
0     3.8          8129   400000                  3                  1
1     4.5           417   400000                  3                  1
2     4.0          9777  1000000                  3                  1
3     3.8          8533   300000                  3                  1
4     4.4           884   600000                  3                  1

In [68]:
X = dc.drop('Employment Status', axis=1)
y = dc['Employment Status']

In [69]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [70]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import GradientBoostingClassifier

In [71]:
models = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB(),
    'Gradient Boosting': GradientBoostingClassifier(),
}

In [72]:
results = {}
for model_name, model in models.items():
  if model_name in [
      'Logistic Regression', 'Decision Tree', 'Random Forest', 'Support Vector Machine',
  ]:
    pipeline = Pipeline([
        ('scaler', StandardScaler()),
        ('model', model)
    ])
  else:
    pipeline = Pipeline([
        ('model', model)
    ])
  pipeline.fit(X_train, y_train)
  y_pred = pipeline.predict(X_test)
  accuracy = accuracy_score(y_test, y_pred)
  results[model_name] = accuracy
  print(f'{model_name} Accuracy: {accuracy}')

Logistic Regression Accuracy: 0.8770311813790075
Decision Tree Accuracy: 0.8131313131313131
Random Forest Accuracy: 0.8616600790513834
Support Vector Machine Accuracy: 0.8770311813790075
K-Nearest Neighbors Accuracy: 0.8722002635046113
Naive Bayes Accuracy: 0.8770311813790075
Gradient Boosting Accuracy: 0.8812033377250769

In [73]:
results_dc = pandas.DataFrame(list(results.items()), columns=['Model', 'Accuracy'])
results_dc = results_dc.sort_values(by="Accuracy", ascending=False)

print("\nModel Accuracy Comparison:")
print(results_dc)

Model Accuracy Comparison:
                    Model  Accuracy
6       Gradient Boosting  0.881203
3  Support Vector Machine  0.877031
0     Logistic Regression  0.877031
5             Naive Bayes  0.877031
4     K-Nearest Neighbors  0.872200
2           Random Forest  0.861660
1           Decision Tree  0.813131